<div class="modal fade" id="add_User_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Tài Khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="addUserForm" ng-submit="ctrl.saveUser()" novalidate>
                    <div class="form-group">
                        <label>Họ Tên</label>
                        <input type="text" class="form-control" required ng-model="ctrl.newAccount.fullName">
                    </div>
                    <div class="form-group">
                        <label>Tên Đăng Nhập</label>
                        <input type="text" class="form-control" required ng-model="ctrl.newAccount.username">
                    </div>
                    <div class="form-group">
                        <label>Mật Khẩu</label>
                        <input type="password" class="form-control" required ng-model="ctrl.newAccount.password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

